ansi==0.1.3
asn1crypto==0.24.0
beautifulsoup4==4.6.3
bottle==0.12.13
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
colorlog==3.1.4
cryptography==2.3.1
daemonize==2.4.7
dnspython==1.15.0
dnspython3==1.15.0
errbot==5.2.0
future==0.16.0
idna==2.7
Jinja2==2.10
Markdown==3.0
MarkupSafe==1.0
pkg-resources==0.0.0
pycparser==2.19
Pygments==2.2.0
pygments-markdown-lexer==0.1.0.dev39
pyOpenSSL==18.0.0
python-telegram-bot==11.1.0
requests==2.19.1
rocket-errbot==1.2.5
six==1.11.0
slackclient==1.3.0
urllib3==1.23
waitress==1.1.0
WebOb==1.8.2
websocket-client==0.53.0
WebTest==2.0.30
Yapsy==1.12.0
